include _mixins.jade
doctype html
html.no-js
  head
    meta(charset='utf-8')
    block title
        title webapp
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    link(rel='shortcut icon', href='/favicon.ico')
    // Place favicon.ico and apple-touch-icon.png in the root directory
    // build:css(app/..) styles/vendor.css
    // bower:css
    link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    // endbower
    // endbuild
    // build:css(.tmp) styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild
    // build:js scripts/vendor/modernizr.js
    script(src='bower_components/modernizr/modernizr.js')
    // endbuild
  body
    <!--[if lt IE 7]>
    p.browsehappy
        | You are using an
        strong outdated
        |  browser. Please
        a(href="http://browsehappy.com/") upgrade your browser
        |  to improve your experience.
    <![endif]-->
    header
      block header
    main
      block content
        .container
          section#home
            .right.col-md-6 right section
            .left.col-md-6 left section
    footer
      block footer
    // build:js(.) scripts/vendor.js
    // bower:js
    script(src='/bower_components/modernizr/modernizr.js')
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    // endbower
    // endbuild
    // Google Analytics: change UA-XXXXX-X to be your site's ID.
    // script.
    //   (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    //   function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    //   e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    //   e.src='//www.google-analytics.com/analytics.js';
    //   r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    //   ga('create','UA-XXXXX-X');ga('send','pageview');
    // build:js({app,.tmp}) scripts/main.js
    script(src='scripts/main.js')
    // endbuild